:root {
    --box-shadow: 0 0 35px rgba(12, 40, 54, 0.12);
    --dark: #0C2836;
}

body {
    font-family: "Play", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 733px;
    /* margin: 244px auto;  */
    background-color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.logo img {
    max-width: 122px;
}

h2 {
    font-weight: 400;
    font-size: 90px;
    color: black;
}

.input-field,
.submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 30px; 
}

.input-field {
    border: 1px solid #959090;
}

.submit-btn {
    background-color: #4E91D5;
    border: 1px solid #959090;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #357ebd;
}

.register-link a {
    color: #428bca;
}

.register-link a:hover {
    text-decoration: underline;
}

.noAcc-text {
    font-size: 30px;
    margin-bottom: 8px;
}

.mainPage-text {
    font-size: 24px;
}

.attention_text {
    margin: 8px 19px;
    font-size: 24px;
    color: #959090;
}
