@import url('./zero.css');


/*Глобальные стили*/

body{
    font-family: 'Play';
    overflow: hidden;
}

main{
    display: flex;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}








/*Конец Глобальные стили*/

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 20px 0px rgba(5, 6, 22, 0.05);
    padding: 16px 38px 16px 80px ;
}

.header__body nav{
    display: flex;  
    gap: 80px;

    font-size: 36px;
}

a, a:visited{text-decoration: none; color: #404040;}

/*Боковая панель*/
/*Отделы*/

.sideplate{
    box-shadow: 20px 0 20px 0 rgba(5, 6, 22, 0.05);
    margin-left: 10px;
    min-width: 465px;

    overflow: hidden;
}

.sidebar{
    overflow-y: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

.sidebar summary{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-right: 25px;
    padding-left: 20px;
    margin-left: 46px;
    cursor: pointer;
}

.sidebar details[open] summary{
    padding-left: 0;
    margin-left: 0;
}

.sidebar summary span{
    word-break: break-all;
    max-width: 345px;
}

.sidebar details[open] summary span{
    text-decoration-skip-ink: none;
    text-decoration-line: underline;
}

.sidebar summary div{
    display: flex;
}

.sidebar li{
    display: flex;
    font-size: 32px;
    margin: 29px 0px;
    align-items: center;
    justify-content: space-between;
}

.sidebar li div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar li div span{
    max-width: 245px;
    word-break: break-all;
}

.sidebar li div p{
    width: 50px;
    height: 50px;
    margin-left: 77px;
    background-color: #555;
    border-radius: 50%;
}

.sidebar li b{
    margin-right: 29px;
}

[holiday_title]{
    cursor: pointer;
}

[holiday_title]:after{
    cursor: default;
    content: '';
    transition: 0.2s;
}

[holiday_title]:hover:after{
    position: absolute;
    top: -50px;
    right: -40px;
    content: attr(holiday_title);
    font-size: 24px;
    color: white;
    background-color: black;
    justify-content: center;
    z-index: 100;
}

.sidebar details[open] img{
    display: block;
    cursor: pointer;
}

.sidebar__department summary img{
    padding: 13px 13px;
    margin: 0px 3px;
    display: none;
}

.sidebar__department summary p{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.sidebar details[open] summary p{
    transform: rotate(45deg);
}

.sidebar__department{
    margin-top: 20px;
}

.sidebar summary p{
    transform: rotate(315deg);
}






/*Цвета работников*/
.sidebar div:nth-child(1) li:nth-child(1) p{
    background-color: #ADFFD8;
}
.sidebar div:nth-child(1) li:nth-child(2) p{
    background-color: #F7C8F8;
}
.sidebar div:nth-child(1) li:nth-child(3) p{
    background-color: #C3EFF9;
}



.sidebar div:nth-child(2) li:nth-child(1) p{
    background-color: #C1C7FF;
}
.sidebar div:nth-child(2) li:nth-child(2) p{
    background-color: #BFF9DA;
}
.sidebar div:nth-child(2) li:nth-child(3) p{
    background-color: #FAF7C6;
}
.sidebar div:nth-child(2) li:nth-child(4) p{
    background-color: #FDE4CD;
}
/*Конец Цвета работников*/




/*Конец Отделы*/

/*Нижняя часть боковой панели*/
.side__bottom{
    width: 465px;
    height: 133px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}

.side__bottom-newholidays-button{
    background-color: #4E91D5;
    color: #fff;
    font-size: 24px;
    margin-left: 116px;
    width: 217px;
    height: 45px;
    transition: transform;
    border: 0px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.side__bottom-newholidays-button:active{
    transform: scale(0.95);
}
/*Конец Нижняя часть боковой панели*/

/*Конец Боковая панель*/


















/*Модальные окна*/
::backdrop{
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}

.modal{
    border-radius: 50px;
    margin-left: 12.5%;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.modal__window{
    width: 100%;
}

.modal__window-header{
    display: flex;
    justify-content: space-between;
    margin-left: 38%;
    margin-top: 17px;
    margin-right: 35px;
}

.modal b{
    font-size: 64px;
}

.modal span{
    font-size: 40px;
}

.modal form{
    font-size: 32px;
}

.modal__close-button{
    cursor: pointer;
}

.modal__window-main{
    margin: 20px 75px;
}

.modal__form-settings{
    margin-top: 48px;
}

.modal__form-stroke{
    display: flex;
    margin-bottom: 8px;
}

.modal_form-input{
    width: 81px;
    height: 61px;
    margin-left: 17px;
    border: 1px solid #959090;
    border-radius: 10px;
    text-align: center;
    
}




.modal__newholidays-sendbutton{
    background-color: #F9F9F9;
    border: 1px solid black;
    width: 276px;
    border-radius: 10px;
    height: 84px;
    font-size: 32px;
    justify-content: center;
    position: absolute;
    bottom: 29px;
    left: 43.5%;
    display: flex;
    align-items: center;
}

.modal__newholidays h1{
    position: absolute;
    right: 35px;
    bottom: 35px;
    font-size: 32px;
}

.modal__newholidays form img{
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.modal__settings-form-input{
    
}

/*Конец Модальные окна*/
















/*Начало Календарь*/


.calendar__section{
    width: 100%;
}

.calendar {
    background-color: #FCFCFC;
    margin: 76px 270px 86px 270px;
    height: 695px;
    max-height: 650px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50px;
}

#prevMonth{
    display: ruby;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    position: relative;
    background-color: #F9F9F9;
    border: 1px solid #D4D4D4;
    left: -215px;
    top: 310px;
}

#prevMonth-triangle{
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 38px solid black;
    border-bottom: 30px solid transparent;
}

#nextMonth{
    display: ruby;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    position: relative;
    background-color: #F9F9F9;
    border: 1px solid #D4D4D4;
    right: -215px;
    top: 310px;
}

#nextMonth-triangle {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 38px solid black;
    border-bottom: 30px solid transparent;
}

.header {
    font-size: 48px;
    font-weight: 800;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

#currentMonth:first-letter{
    text-transform: uppercase
}

.days {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    color: #008AFF;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

.date {
    font-size: 32px;
    margin: 1px;
    width: calc(98.2% / 7);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.date.empty {
    cursor: default;
}

.date.selected {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

/*Конец Календарь*/